html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: black;
  overflow: hidden;
  font-family: consolas;
}

.firstSlide {
  width: 800px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -400px;
  padding: 0;
  text-align: left;
  background-color: rgba(51,0,51,0.5);
}

.hidden {
  display: none;
}

#logo {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-size: 100%;
  background-image: url("../images/logo.jpg");
}

#navigatePanel {
  height: 80px;
  width: 80px;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

#square-init {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: white;
}

.navi-triangle {
  width: 0;
  height: 0;
  position: absolute;
}

#triangle-left {
  border-top: 10px solid transparent;
  border-right: 20px solid rgba(255,255,255,1);
  border-bottom: 10px solid transparent;
  bottom: 30px;
  left: 0px;
}

#triangle-left-effect {
  border-top: 10px solid transparent;
  border-right: 20px solid rgba(255,255,255,1);
  border-bottom: 10px solid transparent;
  bottom: 30px;
  left: 0px;

  animation: triangle-left-animation 0.2s 1 paused;
  /* Chrome and Safari: */
  -webkit-animation: triangle-left-animation 0.2s 1 paused;
}

@keyframes triangle-left-animation
{
  0% {
    border-top: 10px solid transparent;
    border-right: 20px solid rgba(255,255,255,1);
    border-bottom: 10px solid transparent;
    bottom: 30px;
    left: 0px;
  }
  75% {
    border-top: 8px solid transparent;
    border-right: 16px solid rgba(255,255,255,1);
    border-bottom: 8px solid transparent;
    bottom: 32px;
    left: -10px;
  }
  100% {
    border-top: 5px solid transparent;
    border-right: 10px solid rgba(255,255,255,1);
    border-bottom: 5px solid transparent;
    bottom: 35px;
    left: -15px;
  }
}

@-webkit-keyframes triangle-left-animation
{
  0% {
    border-top: 10px solid transparent;
    border-right: 20px solid rgba(255,255,255,1);
    border-bottom: 10px solid transparent;
    bottom: 30px;
    left: 0px;
  }
  75% {
    border-top: 8px solid transparent;
    border-right: 16px solid rgba(255,255,255,0.75);
    border-bottom: 8px solid transparent;
    bottom: 32px;
    left: -10px;
  }
  100% {
    border-top: 5px solid transparent;
    border-right: 10px solid rgba(255,255,255,0.5);
    border-bottom: 5px solid transparent;
    bottom: 35px;
    left: -15px;
  }
}

#triangle-up {
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgba(255,255,255,1);
  border-left: 10px solid transparent;
  top: 0px;
  left: 30px;
}

#triangle-up-effect {
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgba(255,255,255,1);
  border-left: 10px solid transparent;
  left: 30px;
  top: 0px;

  animation: triangle-up-animation 0.2s 1 paused;
  /* Chrome and Safari: */
  -webkit-animation: triangle-up-animation 0.2s 1 paused;
}

@keyframes triangle-up-animation
{
  0% {

    border-right: 10px solid transparent;
    border-bottom: 20px solid rgba(255,255,255,1);
    border-left: 10px solid transparent;
    top: 0px;
    left: 30px;
  }
  75% {
    border-right: 8px solid transparent;
    border-bottom: 16px solid rgba(255,255,255,0.75);
    border-left: 8px solid transparent;
    top: -10px;
    left: 32px;
  }
  100% {
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgba(255,255,255,0.5);
    border-left: 5px solid transparent;
    top: -15px;
    left: 35px;
  }
}

@-webkit-keyframes triangle-up-animation
{
  0% {
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgba(255,255,255,1);
    border-left: 10px solid transparent;
    top: 0px;
    left: 30px;
  }
  75% {
    border-right: 8px solid transparent;
    border-bottom: 16px solid rgba(255,255,255,0.75);
    border-left: 8px solid transparent;
    top: -10px;
    left: 32px;
  }
  100% {
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgba(255,255,255,0.5);
    border-left: 5px solid transparent;
    top: -15px;
    left: 35px;
  }
}

#triangle-right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid rgba(255,255,255,1);
  top: 30px;
  right: 0px;
}

#triangle-right-effect {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid rgba(255,255,255,1);
  top: 30px;
  right: 0px;

  animation: triangle-right-animation 0.2s 1 paused;
  /* Chrome and Safari: */
  -webkit-animation: triangle-right-animation 0.2s 1 paused;
}

@keyframes triangle-right-animation
{
  0% {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid rgba(255,255,255,1);;
    top: 30px;
    right: 0px;
  }
  75% {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid rgba(255,255,255,0.75);
    top: 32px;
    right: -10px;
  }
  100% {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid rgba(255,255,255,0.5);
    top: 35px;
    right: -15px;
  }
}

@-webkit-keyframes triangle-right-animation
{
  0% {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid rgba(255,255,255,1);;
    top: 30px;
    right: 0px;
  }
  75% {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid rgba(255,255,255,0.75);
    top: 32px;
    right: -10px;
  }
  100% {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid rgba(255,255,255,0.5);
    top: 35px;
    right: -15px;
  }
}

#triangle-down {
  border-top: 20px solid rgba(255,255,255,1);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  bottom: 0px;
  left: 30px;
}

#triangle-down-effect {
  border-top: 20px solid rgba(255,255,255,1);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  bottom: 0px;
  left: 30px;

  animation: triangle-down-animation 0.2s 1 paused;
  /* Chrome and Safari: */
  -webkit-animation: triangle-down-animation 0.2s 1 paused;
}

@keyframes triangle-down-animation
{
  0% {
    border-top: 20px solid rgba(255,255,255,1);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    bottom: 0px;
    left: 30px;
  }
  75% {
    border-top: 16px solid rgba(255,255,255,0.75);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    bottom: -10px;
    left: 32px;
  }
  100% {
    border-top: 10px solid rgba(255,255,255,0.5);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -15px;
    left: 35px;
  }
}

@-webkit-keyframes triangle-down-animation
{
  0% {
    border-top: 20px solid rgba(255,255,255,1);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    bottom: 0px;
    left: 30px;
  }
  75% {
    border-top: 16px solid rgba(255,255,255,0.75);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    bottom: -10px;
    left: 32px;
  }
  100% {
    border-top: 10px solid rgba(255,255,255,0.5);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -15px;
    left: 35px;
  }
}

.sidebar {
  background-color: rgba(0,0,0,0.85);
}

/* table of contents of the slides */
#catalogue {
  position: absolute;
  width: 200px;
  height: 600px;
  top: 50%;
  left: -190px;
  margin: -300px 0;
  border: solid white;
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 10px 10px 0px;
}

#catalogue-header {
  color: black;
  background: white;
  border: solid black;
  border-width: 2px 2px 2px 0px;
  border-radius: 0px 10px 0px 0px;
  text-align: center;
}

#catalogue-content {
  width: 100%;
  position: absolute;
  top: 25px;
  bottom: 0px;
  overflow: hidden;
  color: white;
}

.jstree-default .jstree-hovered {
  background-color: white;
  color: black;
}
.jstree-default .jstree-clicked {
  background-color: white;
  color: black;
}

/* configuration panel for the slides */
#effect {
  position: absolute;
  width: 200px;
  height: 600px;
  top: 50%;
  right: -190px;
  margin: -300px 0;
  border: solid white;
  border-width: 1px 0px 1px 1px;
  border-radius: 10px 0px 0px 10px;
}

#effect-header {
  color: black;
  background: white;
  border: solid black;
  border-width: 2px 0px 2px 2px;
  border-radius: 10px 0px 0px 0px;
  text-align: center;
}

.effect-group li {
  color: white;
  list-style-type:none;
  margin-bottom: 20px;
}

#container {
  position: absolute;
  top: 0px;
  left: 0px;
}

.slide {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255,162,255,0.5);
	cursor: default;
}
.highlight {
  border: 3px solid rgba(255,255,255,1.0);
	box-shadow: 0px 0px 10px rgba(255,255,255,1.0);
}
.slide .number {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 15px;
	color: white;
  text-shadow: 0 0 10px rgba(255,255,255,0.95);
}
.slide .banner {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  height: 120px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px rgba(255,255,255,0.95);
  text-align: center;
}
.slide .content {
  position: absolute;
  top: 150px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  font-size: 30px;
  color: rgba(255,255,255,0.75);
  text-align: left;
}
